// @import "../_fonts.css";

$regular: 'Avenir Next Regular'; 
$bold: 'Avenir Next Bold';
$demi: 'Avenir Next Demi';


.videolist__header {
  font-family: $regular;
  color: #afafaf;
  padding: 16px;
}

.videolist {
    display: flex;
    flex-direction: row;
    padding: 8px;
  
  }

.video--thumbnail {
    border-radius: 4px;
    background-color: #e1e1e1;
    object-fit: cover;
    width: 120px;
    height: 80px;
}

.videolist > div {
  padding: 8px;
}

.video__info {
  padding: 8px;

  &--title {
    font-family: $demi;
  }

  &--channel {
    font-family: $regular;
  }

}