// @import "_fonts.css";

$regular: 'Avenir Next Regular'; 
$bold: 'Avenir Next Bold';
$demi: 'Avenir Next Demi';


.videostats {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    font-family: $demi;
     &--upper, &--lower {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         padding: 8px;
     }
}

@media only screen and (min-width: 768px) {
    .videostats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
}