// @import 'fonts';

$regular: 'Avenir Next Regular'; 
$bold: 'Avenir Next Bold';
$demi: 'Avenir Next Demi';


.comments__section {
    margin-top: 24px;
    padding: 16px;
    border-bottom: solid 1px #e1e1e1;

    &--header {
      font-family: $demi;
    }
}

.comments__input {
    display: flex;
    flex-direction: row;

    &--form {
      font-family: $demi;
      color: #AFAFAF;
    }
  }

.comments__input--avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

.comments__input > div {
  padding: 8px;
}

.comment__input--form--button {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #0095FF;
    color: white;
    font-family: $demi;
    border-radius: 4px;
}

#comment {
  width: 100%;
  height: 36px;
  border-radius: 4px;
}
  #comment__form {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (min-width: 768px) {
    .comments__input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }