.body {
  margin: 0;
  padding: 0;
  background-color: black;
}


.comments__input {
  display: flex;
  flex-direction: row;
}

.comments__list {
  display: flex;
  flex-direction: row;
}

.comments__title {
  display: flex;
  flex-direction: row;
}

.videolist {
  display: flex;
  flex-direction: row;
  padding: 8px;

}

.videolist > div {
  padding: 8px;
}

.videostats {
  display: flex;
  flex-direction: column;
}
